<form method="post" action="{{ path('app_profile_commande_delete', {'id': commande.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette réservation ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande.id) }}">
	<button class="btn btn-outline-danger">Supprimer</button>
</form>
