<footer class="p-5">

	<table class="mx-auto my-2 col-md-10 text-center">

		<tr>
			<th>
				<p class="text-decoration-underline bleunuit">PLAN DU SITE :</p>
			</th>
			<td></td>
			<td></td>
		</tr>

		<tr>
			<td>
				<p>
					<a href="">
						Les Chambres
					</a>
				</p>
			</td>
			<td>
				<p>
					<a href="">
						Mentions légales
					</a>
				</p>
			</td>
			<td>
				<p>
					<a href="">
						S’inscrire à la newsletter
					</a>
				</p>
			</td>
		</tr>

		<tr>
			<td>
				<p>
					<a href="">
						Le Restaurant
					</a>
				</p>
			</td>
			<td>
				<p>
					<a href="">
						Conditions Générales de Vente
					</a>
				</p>
			</td>
			<td>
				<p>
					<a href="">
						Contact
					</a>
				</p>
			</td>
		</tr>

		<tr>
			<td>
				<p>
					<a href="">
						Le Spa
					</a>
				</p>
			</td>
			<td>
				<p>
					<a href="">
						Politique de confidentialité
					</a>
				</p>
			</td>
			<td>
				<p>
					<a href="">
						À Propos
					</a>
				</p>
			</td>
		</tr>

		<tr>
			<td>
				<p>
					<a href="">
						Avis
					</a>
				</p>
			</td>
			<td></td>
			<td></td>
		</tr>

	</table>
	<hr>
	<h4 class="text-center">RÉSEAUX :</h4>
	<div id="reseaux" class="col-md-3 d-flex flex-wrap justify-content-around align-items-center mx-auto my-2">
		<img src="{{asset('images/twitter.png')}}" alt="Logo Twitter" class="icone"><img src="{{asset('images/fb.png')}}" alt="Logo Facebook" class="icone"><img src="{{asset('images/insta.png')}}" alt="Logo Instagram" class="icone">
	</div>
	<hr>
	<div class="text-center mt-3">
		<p>© Copyright 2022 by Hamza Benketaf. All Rights Reserved.</p>
		<img src="{{asset('images/logo.png')}}" alt="Logo" class="icone mt-2">
	</div>
</footer>
